<div class="container">
    <div class="row">
        <div class="col">
            <div class="mainBlock">
                <button class="back" (click)="returnMain()">
                    Back
                </button>
                <div class="for_items">
                    <span>
                        №
                    </span>
                    <p>
                        {{itemId}}
                    </p>

                </div>
                <div class="for_items">
                    <span>
                        Joke:
                    </span>
                    <p>
                        {{itemJoke}}
                    </p>

                </div>
                <div class="for_items">
                    <span>
                        Category:
                    </span>
                    <p>
                        {{itemCategory}}
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>