.mainBlock {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .back {
        width: 30%;
    }
    .for_items {
        width: 100%;
        margin: 2% 0;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        text-align: center;
        span {
            font-size: 29px;
            padding-bottom: 15px;
        }
    }
}
